body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav>ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  background-color: aqua;
  padding: 10px;
}

.reserve_btn {
  padding: 10px 20px;
  background-color: cyan;
  margin: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.bill_card {
  display: flex;
  padding: 10px;
  background-color: rgb(214, 211, 211);
  flex-direction: column;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

.bill_card>h3 {
  font-size: 22px;
  text-align: center;
  margin: 10px;
  font-family: sans-serif;

}

.bill_item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total_bill {
  padding: 10px;
  border: .5px solid black;
  border-radius: 10px;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 10px;
}

.property_main {
  width: 80%;
  margin: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.property_main_details {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-around;

}

.night_input {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

}

.night_input>input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Fira+Mono:wght@500&display=swap');

body {
  height: 95vh;
  background: #000000;
  text-align: center;
  color: #E0E0E0;
  font-family: 'Fira Mono', monospace;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Permanent Marker', cursive;
}

div {
  transform-style: preserve-3d;
}

svg {
  width: clamp(300px, 70%, 600px);
  height: 500px;

}

#rocket {

  transform: translateY(750px);

  animation: launch 2s ease-out forwards;
}

@keyframes launch {
  from {
    transform: translateY(750px);
  }

  to {
    perspective: 500px;
    transform: translateY(0px);
  }
}

#stars {
  animation: twinkling 2s linear;
}

@keyframes twinkling {

  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.text {
  opacity: 0;
  animation: appear 1s ease-in forwards;
  animation-delay: 1.8s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  color: #F66947;
  text-decoration: none;
}

.login-card {
  width: 500px;
  min-height: 300px;
  padding: 20px;
  background-color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px;
}

.login-card>form {
  display: flex;
  width: 80%;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-card>form>input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.login-card>form>button {
  width: 100%;
  background: blue;
  margin-top: 10px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: all .1s linear;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.login-card>form>button:hover {
  background-color: rgb(13, 87, 112);
}

.login-card>h3 {
  color: black;
}

.disabled {
  background-color: gray;
  cursor: default;
}

.globe_container {

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 120vh;
  overflow: hidden;
  background: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmlnaHQlMjBza3l8ZW58MHx8MHx8&w=1000&q=180');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.success-message {
  background-color: #2ecc71;
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

.property_details {
  display: flex;
  width: 40%;
  color: rgb(219, 62, 62);
  text-decoration: underline;
  font-weight: bold;
  border-radius: 15px;
  background-color: lightblue;
  gap: 50px;
  font-size: 14px;
  padding: 5px;
  margin-left: 50px;
}

.add_property {
  width: 80%;
  margin: auto;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: gray;
}

.add_property input {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.add_property>form>div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  background-color: lightgray;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.voice_desc>div {
  display: flex;
  gap: 20;
}

.voice_desc>div>button {
  padding: 5px 20px;
  width: 80px;
  margin: 20px;
  background-color: red;
  color: white;
  border-radius: 5px;


}

.voice_desc>textarea {
  border: 1px solid black;
  width: 300px;
  height: 100px;
}


.admin_property {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}